.franch {
  background-image: url('/src/img/bgs/franch-bg.png');
  min-height: 1140px;
    background-size: 1140px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    top: -110px;
    margin-bottom: -110px;

  @media (max-width: 767px) {
    top: -300px;
    margin-bottom: -300px;
    background-size: 1130px;
    min-height: 1130px;
  }

  @media (max-width: 767px) {
    top: -210px;
    margin-bottom: -210px;
    background-size: 770px;
    min-height: 770px;
  }
}
