@mixin bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin reset-btn {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: inherit;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin reset-list {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

@mixin max-width($width) {
  width: 100%;
  max-width: $width;
}

@mixin central-align {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin title {
  position: relative;
  margin-left: 43px;

  & .title__angle-top-left {
    position: absolute;
    top: -35px;
    left: -43px;
    @media (max-width: 1250px) {
      top: -25px;
      left: -25px;
    }
    @media (max-width: 575px) {
      left: -14px;
    }
  }
  & .title__angle-top-right {
    position: absolute;
    top: -35px;
    right: -43px;
    @media (max-width: 1250px) {
      top: -25px;
      right: -25px;
    }
    @media (max-width: 575px) {
      right: -14px;
    }
  }
  & .title__angle-bottom-left {
    position: absolute;
    bottom: -35px;
    left: -43px;
    @media (max-width: 1250px) {
      bottom: -25px;
      left: -25px;
    }
    @media (max-width: 575px) {
      left: -14px;
    }
  }
  & .title__angle-bottom-right {
    position: absolute;
    bottom: -35px;
    right: -43px;
    @media (max-width: 1250px) {
      bottom: -25px;
      right: -25px;
    }
    @media (max-width: 575px) {
      right: -14px;
    }
  }
  font-size: 36px;
  font-weight: 800;
  font-family: 'Montserrat';
  @media (max-width: 575px) {
    padding-left: 10px;
  }

  span {
    color: $yellow;
    text-transform: uppercase;
  }

  @media (max-width: 1250px) {
    margin-left: 25px;
  }

  @media (max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 575px) {
    br {
      display: none;
    }
    font-size: 26px;
    margin-bottom: 50px;
  }
}
